<%- include("header_groupe") -%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestionnaire des tâches</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Groupes</a>
                </li>
                <li class="nav-item" id="connexion">
                    <a class="nav-link" href="#"><%- idConnected -%></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<form action="/add_group" method="post">
    <button type="button" name="add" id="button-add" onclick="add_group()" class="btn btn-outline-primary">Ajouter un
        groupe</button>
    <br>
</form>
<% for (var i=0; i<groupTache.groupe_tache.length; i++) { %>
<form action="/listing_tache" method="post">
    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
        <div class="card-content">
            <input type="hidden" name="IDtache" value="<%= groupTache.groupe_tache[i].id_grp_tache %>">
            <input type="hidden" name="nameTache" value="<%= groupTache.groupe_tache[i].name_groupe %>">
            <div class="card-header">Groupe <%= i+1 %></div>
            <div class="card-body">
                <h4 class="card-title"><%= groupTache.groupe_tache[i].name_groupe %></h4>
                <p class="card-text"></p>
            </div>
        </div>
</form>
<form action="/mod_group" method="post">
    <button type="button" class="btn btn-mod btn-outline-warning">Modifier le
        groupe</button>
</form>
<form action="/del_group" method="post">
    <button type="submit" name="del" value="<%= i%>" class="btn btn-del btn-outline-danger">Supprimer le groupe</button>
</form>
</div>
<% } %>